#contact-wrapper {
	margin-top: 150px;
	@include md {
		display: flex;
		margin-left: 80px;
	}
	.contact-text {
		margin-bottom: 3em;
		@include md {
			width: 450px;
			padding-right: 100px;
			:first-child {
				margin: 0;
			}
		}
	}
}


#email {
	font-size: 1.2em;
	@include sm {
		font-size: 1.5em;
	}
}

#phone {
	margin: 2em 1em;	
	p {
		font-style: bold;
		margin: 0;
		padding: 0;
		line-height: 1.5;
	}
}

#address {
	margin: 2em 1em;
	p {
		font-style: italic;
		margin: 0;
		padding: 0;
		line-height: 1.2;
	}
}
