img[src*=png] {
  background-color: rgb(244, 244, 244);
  // padding: 40px;
}

.main-img {
  width: 100%;
}

.title {
  @include xs {
    font-size: 1.5em;
  }
  @include md {
    font-size: 2em;
  }
  font-style: italic;
  font-weight: 100;
}

.client-year {
  @include xs {
    margin: -1em 0;
    font-size: 0.8em;
  }
  @include md {
    font-size: 1em;
    margin: 0;
  }
  font-style: italic;
  padding-left: 1em;
}

.project-synopsis {
  margin: 2.5em 0;
  @include md {
    display: flex;
  }
  .container {
    margin-bottom: 2em;
    @include md {
      width: 50%;
      margin-bottom: 0;
    }
    .heading {
      margin-bottom: 1em;
    }
    ul {
      padding-left: 1em;
      list-style: none;
      li {
        margin: 0.3em 0;
      }
    }
  }
}

.img-gallery::-webkit-scrollbar {
  display: none;
}

.img-gallery {
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  width: 100%;
  overflow: scroll;
  @include xs {
    margin: 50px 0 40px 0;
  }
  @include md {
    margin: 60px 0;
  }
  :last-child {
    margin: 0;
  }
  div {
    margin-right: 10px;
    img {
      cursor: pointer;
      max-height: 30vh;
      @include sm {
        max-height: 35vh;
      }
      @include md {
        max-height: 50vh;
      }
    }
    p {
      display: none;
      @include md {
        display: block;
      }
    }
  }
}

.img-comment, #gallery-comment {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 0.8em;
}

#gallery-comment {
  text-align: center;
  margin: 1em 0;
}

.dbl-img-container.landscapes {
  @include md {
    width: 80%;
  }
}

.dbl-img-container.portraits {
  @include lg {
    width: 70%;
    :first-child {
      margin-right: 50px;
    }
  }
}

.dbl-img-container {
  margin: 3em auto;
  @include xs {
    .portrait {
      width: 60%;
      margin: 3em auto;
    }
    .landscape {
      width: 90%;
      margin: 3em auto;
    }
  }
  @include md {
    width: 80%;
    margin: -2em auto;
    display: flex;
    :first-child {
      margin-right: 20px;
    }
  }
}

.dbl-img {
  margin: 3em 0;
  p {
    margin: 0.5em 0;
  }
  img {
    width: 100%;
  }
}

.single-img-container {
  margin: 4em 0;
  width: 100%;
  img {
    width: 100%;
  }
}

.text-content {
  z-index: -10;
  @include xs {
    margin: 0;
  }
  @include md {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    position: relative;
    column-gap: 3em;
    max-width: 1200px;
    margin: 2em auto;
  }
  p {
    display: inline-block;
    width: 100%;
  }
}

#gallery-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  #gallery-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  #gallery-nav {
    pointer-events: none;
    position: fixed;
    z-index: 7;
    width: 100%;
    height: 100%;
    display: flex;
    @include md {
      justify-content: space-between;
    }
    justify-content: space-around;
    align-items: center;
    img {
      pointer-events: auto;
      max-width: 100%;
      max-height: 80vh;
      margin: auto;
      @include md {
        max-height: 80vh;
        max-width: 70vw;
        margin: 0;
      }
    }
    h1 {
      display: none;
      font-size: 1.5em;
      pointer-events: auto;
      padding: 30px 10px;
      @include md {
        display: block;
        font-size: 2em;
        padding: 30px;
      }
    }
    h1:hover {
      cursor: pointer;
    }
  }
}

.img-container {
  cursor: pointer;
}
