// base and layout
@import 'breakpoints';
@import 'index';
@import 'project';

// fonts
@font-face {
	font-family: 'HelveticaNeue';
	src: url('/assets/fonts/HelveticaNeue/HelveticaNeueMd.ttf')
	format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
	margin: 1em;
	@include md {
		margin: 20px;
	}
	@include lg {
		margin: 0 30px;
	}
	p {
		line-height: 1.6;
	}
}

nav {
	a {
		text-decoration: none;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	#links {
		display: flex;
		:first-child {
			margin-left: 1em;
		}
	}
}

