<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FUTURE PRACTICAL</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<nav>
		<div id="logo">
			<h1>FUTURE PRACTICAL</h1>
		</div>
		<div>
			<a href="/projects/design-for-our-times/"><h3>Projects</h3></a>
			<a href="/contact/"><h3>Contact</h3></a>
		</div>
	</nav>
	{{ content | safe }}
</body>
</html>
