<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FUTURE PRACTICAL</title>
	<link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav>
		<div id="logo">
			<a href="{{ "/" | url }}"><h1>FUTURE PRACTICAL</h1></a>
		</div>
		<div id="links">
			<a href="{{ '/projects/01-exhibition-display-system' | url }}"><h3>Projects</h3></a>
			<a href="{{ '/contact' | url }}"><h3>Contact</h3></a>
		</div>
	</nav>
	{{ content | safe }}
</body>
</html>
