---
layout: base.njk
type: project
---

<img class="main-img"src="{{ main_image_path }}" alt="">

<h1 class="title">"{{ title }}"</h1>

<p class="client-year">{{ client }} ({{ year }})</p>

<div class="project-synopsis D(f)">
	<div class="container">
		<p class="heading">◐ Design principles</p>
		<ul>
			{% for item in principles %}
				<li> {{ item }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="container">
		<p class="heading">◑ Design proposal</p>
		<ul>
			{% for item in proposal %}
				<li> {{ item }}</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="text-content">
	{{ content | safe }}
</div>

<script>
	let textContent = document.getElementsByClassName("text-content")[0];
	let contentLength = textContent.children.length
	let columnOne = document.createElement("div");
	let columnTwo = document.createElement("div");

	console.log(Array.from(textContent.children).length)
	console.log(Array.from(textContent.children))

	if ( contentLength % 2 == 0 ) {
		Array.from(textContent.children)
			.slice(0 , contentLength / 2)
			.forEach(el => {
				columnOne.appendChild(el)
			})
		Array.from(textContent.children)
			.slice(0 , contentLength)
			.forEach(el => {
				columnTwo.appendChild(el)
			})
	} else {
		Array.from(textContent.children)
			.slice(0 , (contentLength + 1) / 2)
			.forEach(el => {
				columnOne.appendChild(el)
			})
		Array.from(textContent.children)
			.slice(0, contentLength - 1)
			.forEach(el => {
				columnTwo.appendChild(el)
			})
	}

	textContent.innerHTML = "";
	textContent.appendChild(columnOne);
	textContent.appendChild(columnTwo);
</script>
