---
layout: base.njk
type: project
---
<!-- get all image data -->
{% set allImages = [] %}

{% for item in page_layout %}
	{% if item | typeof == "object" %}
		{% set allImages = allImages | concat(item) %}
	{% endif %}
{% endfor %}

{% set contentSplit = content | split("<hr>")%}
{% set contentIndex = 0 %}

<img class="main-img"src="{{ main_image_path | url }}" alt="">

<h1 class="title">{{ title }}</h1>

<p class="sub-title">{{ sub_title }}</p>

<div class="vitals">
	<ul>
		{% for item in vitals %}
			<li>{{ item.key | upper }}__{{ item.value }}</li>
		{% endfor %}
	</ul>
</div>

<hr>

<div class="project-synopsis">
	<div class="container">
		<p class="heading">◐ Design principles</p>
		<ul>
			{% for item in principles %}
				<li> {{ item }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="container">
		<p class="heading">◑ Design proposal</p>
		<ul>
			{% for item in proposal %}
				<li> {{ item }}</li>
			{% endfor %}
		</ul>
	</div>
</div>

<hr>

{% for item in page_layout %}

	<!-- text -->
	{% if item == "text" %}
		<div class="text-content"> 
			{{ contentSplit[contentIndex] | safe }}
		</div>
		{% set contentIndex = (contentIndex + 1) %}
		{% if contentIndex == 2 %}
			<hr>
		{% endif %}

	<!-- single image -->
	{% elif item | typeof == "object" and item | length == 1 %}

		{% set image = item[0] %}

		<div class="img-container single-img-container">
			<img class"single-img" onclick="galleryOn(`{{image.path | url }}`, `{{
			image.comment }}`)" src="{{ image.path | url }}" alt="">
			{% if image.comment %}
				<p class="img-comment">{{ image.comment }}</p>
			{% endif %}
		</div>

	<!-- double image -->
	{% elif item | typeof == "object" and item | length == 2 %}

		{% set images = item %}

		<div class="dbl-img-container">
			{% for i in images %}	
				<div class="img-container dbl-img">
					<img onclick="galleryOn(`{{i.path | url }}`, `{{
					i.comment }}`)" src="{{ i.path | url }}" alt="">
					{% if i.comment %}
						<p class="img-comment">{{ i.comment }}</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>

	<!-- image gallery -->
	{% elif item | typeof == "object" and item | length > 2 %}

		{% set gallery = item %}

		{% include "img-gallery.njk" %}

		<hr>

	{% endif %}

{% endfor%}

<script>
	let dblImages = document.getElementsByClassName("dbl-img-container");
	Array.from(dblImages).forEach(container => {
		Array.from(container.children).forEach(imgDiv => {
			let img = imgDiv.children[0];
			img.addEventListener("load", () => {
				let imgOrientation = img.naturalWidth > img.naturalHeight ? "landscape" : "portrait";
				let imgAspectRatio = (img.naturalWidth /
					img.naturalHeight).toFixed(4);
				imgDiv.classList.add(imgOrientation)
				imgDiv.style.flex = imgAspectRatio;
				if (container.classList.contains(imgOrientation)) {
					container.classList.remove(imgOrientation)
					container.classList.add(`${imgOrientation}s`);
				} else {
					container.classList.add(imgOrientation);
				}
			})
		})
	})
</script>
